

.custom-navbar {
	background-color: #ffffff!important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
	height: 70px;
	max-height: 70px;
    
}

.navbar-toggler {
	font-size: 38px;
	background-color: transparent;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: none;
}

.navbar-toggler-icon {
	color: #ffffff;
}

.navbar-collapse {
	background-color: #ffffff;
}

.nav-custom-link {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.05em;
	margin-top: 5px;
    display: inline;
}

.navbar a {
	color: #53627C !important;
}

.nav-right {
	float: right;
} 
.sas{
    margin: auto;
    width: 50%;
    padding: 10px;
		font-family: 'Merriweather', serif;
}
.tools{
    margin: auto;
    width: 50%;
    padding: 10px;
		font-family: 'Merriweather', serif;
}

.heading{
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: 'Merriweather', serif;
}