.container-i{
    margin: auto;
    width: 50%;
    padding: 10px;
}


.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .container-i{
    width: 100%;
		padding: 5px;
  }
}
